.menu-view{


    width: 100vw;
    height: 100vh;
}

.menu-view .button-section{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}